name: Config dev CI

on:
  pull_request:
    paths:
      - "config/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  config:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - name: Install dependencies
        working-directory: config
        run: npm ci
      - name: Build
        run: |
          export NODE_OPTIONS=--no-experimental-fetch
          npm run build:lib
      - name: Run tests
        working-directory: config
        run: npm run test

  config-sequelize:
    needs:
      - config
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - name: Build config
        run: |
          cd config
          npm i
          export NODE_OPTIONS=--no-experimental-fetch
          npm run pack:lib
          cp dist/recursyve-nestjs-config-*.tgz
          cd ../sequelize-config
          npm i ./recursyve-nestjs-config-*.tgz
      - name: Install dependencies
        working-directory: config-sequelize
        run: npm i
      - name: Run tests
        working-directory: config-sequelize
        run: npm run test
